<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8"/>
            <title>Mercado libre</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://kit.fontawesome.com/1fd33fa3c4.js" crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/1fd33fa3c4.js" crossorigin="anonymous"></script>
            <link href='https://unpkg.com/css.gg@2.0.0/icons/css/airplane.css' rel='stylesheet'>
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="/public/css/ingresar.css">
            <link rel="stylesheet" href="/public/css/registro.css">


            
        </head>
    <body>

        <div id="container">
            <div class="inicio">

                <div class="aaa">
                        <img src="https://linsock.com.ar/cursos/dh/mliebre/img/logo-mercado-liebre.svg" class="img">
                </div>
                <div class="bbb">
                    <form>
                        <input class="controls" type="text" name="nombres" id="nombres" placeholder="busca">
                    
                    

                    </form>
                </div>

            
            
                <div class="menuhambur">
                
                    <p>
                        <a href="menuHamburguesa/menu.html"><i class="fa-solid fa-money-check-dollar" style="color: #000000;"></i></a>
                    </p>
                    <p>
                        <h6>Compra en cuotas y sin tarjeta de credito</h6>
                    </p>

                </div>
            </div>

            <div class="items">
                <p>
                    <p>
                        ●
                    </p>
                    <a href="/views/index.html">
                        Ofertas
                    </a>
                </p>
                <p>
                    <p>
                        ●
                    </p>
                    <a href="/views/index.html">
                        Tiendas Oficiales
                     </a>
                </p>
                <p>
                    <p>
                        ●
                    </p>
                    <a href="/views/index.html">
                        Vender
                    </a>
                </p>
                <p>
                    <p>
                        ●
                    </p>
                    <a href="/views/index.html">
                        Ayuda
                    </a>
                </p>
            </div>

            <div class="">
                <p>
                    <i class="fa-sharp fa-light fa-key fa-sm" style="color: #000000;"></i>
                    <a href="/login">
                        Ingresa
                    </a>
                </p>
                <p>
                    <i class="fa-sharp fa-light fa-shop fa-sm" style="color: #000000;"></i>
                    <a href="/register">
                        Crea tu cuenta
                    </a>
                </p>
                <p>
                    <i class="fa-sharp fa-light fa-shop fa-sm" style="color: #000000;"></i>
                    <a href="/views/index.html">
                        Mis compras
                    </a>
                </p>
            </div>

        </div>

    </body>
    <body>
        
    </body>
    <body class="cuerpo">
        <div>
        
            <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-home-banner.jpg" alt="img2" class="cuerpofoto">
        </div>
    </body>
    <body>
        <div class="exploracion">
            <div class="exploracion1">
                <h3>Basado en tu ultima visita</h3>
            </div>
            <div class="exploracion2">
                <h3>Ofertas </h3>
            </div>
        </div>
    </body>
    <body>
        
        <div class="grid">
            <a href="productos/cafetera.html">
                <div class="grid1">
                <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-cafetera-moulinex.jpg" alt="img3" class="cafetera">
                <h1 class="linea">________________________</h1>
                <h1 class="texto">$ 6.770</h1>
                <h5 class="texto">cafetera moulinex</h5>
                <div class="avion">
                    <i class="gg-airplane"></i>
                    <h6 class="textoenvio">Envio Gratis</h6>
                </div>
            </a>
            </div>          
            
            
            <a href="productos/computadora.html">
                <div class="grid1">
                <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-macbook-pro-2019.jpg" alt="img3" class="mac">
                <h1 class="linea">________________________</h1>
                <h1 class="texto">$ 1.200.000</h1>
                <h5 class="texto">MacBoock Pro 2019</h5>
                <div class="avion">
                    <i class="gg-airplane"></i>
                    <h6 class="textoenvio">Envio Gratis</h6>
                </div>

            </a>
            </div>


            <a href="productos/celular.html">
                <div class="grid1">
                <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-samsung-galaxy-s10.jpg" alt="img4" class="iphone">
                <h1 class="linea">________________________</h1>
                <h1 class="texto">$ 100.000</h1>
                <h5 class="texto">Samsung Galaxy S10+</h5>
                <h5 class="descuento">20% off</h5>
                <div class="avion1">
                    <i class="gg-airplane"></i>
                    <h6 class="textoenvio">Envio Gratis</h6>
                </div>
            </a>
            </div>

            <a href="productos/televisor.html">
                <div class="grid1">
                <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-tv-samsung-smart.jpg" alt="img5" class="tv">
                <h1 class="linea">________________________</h1>
                <h1 class="texto">$ 270.000</h1>
                <h5 class="texto">TV Samgung Smart</h5>
                <h5 class="descuento">10% off</h5>
                <div class="avion1">
                    <i class="gg-airplane"></i>
                    <h6 class="textoenvio">Envio Gratis</h6>
                </div>


            </a>
            </div>

        </div>

        <footer>
            <div class="grid2">
                <div class="footerstiker">
                
                    <i class="fa-solid fa-money-check-dollar" style="color: #000000;"></i>
                </div>
            
                <div>
                
                    <h3 class="footer1">Paga con tarjeta o efectivo</h3>
            
                </div>
                <div>
                
                    <h4 class="textofooter1">Con MercadoLibreCash tenes cuotas sin interescon tarjeta o efectivo en puntos de pago. Y siempre es seguro!</h4>
            
                </div>



                <div class="footerstiker">
                
                    <i class="fa-solid fa-money-check-dollar" style="color: #000000;"></i>
                </div>
            
                <div>
                
                    <h3 class="footer1">Envio gratis desde los $ 2.500.</h3>
            
                </div>
                <div>
                
                    <h4 class="textofooter1">Solo por estar registrad@ en mercadoLibre tenes envios gratis en miles de productos. Es un beneficio de MercadoPuntos.</h4>
            
                </div>



                <div class="footerstiker">
                
                    <i class="fa-solid fa-money-check-dollar" style="color: #000000;"></i>
                </div>
            
                <div>
                
                    <h3 class="footer1">Seguridad de principio a fin</h3>
            
                </div>
                <div>
                
                    <h4 class="textofooter1">No te gusta? Devolvelo! En MercadoLibre no hay nada que no puedas hacer porque estas siempre protegid@.</h4>
            
                </div>
                <div>
                
                    <h5 class="copyrigth">Copyrigth @ 1999 - 2020 MercadoLibre S.R.L.</h5>
            
                </div>
            </div>
        </footer>


    </body>
</html>