<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/css/ingresar.css">
  <link rel="stylesheet" href="index.html">
  <title>Formulario Registro</title>
</head>
<body>
  <section class="form-register">
    <h4>Formulario Ingreso</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su correo">
    <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
    <p class="a">Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <input class="botons" type="submit" value="Ingresar">
    <p><a href="#">¿Olvidaste tu cuenta?</a></p>
  </section>

</body>
</html>